h1 i q {
    background-color: #B51A62;
    color: aliceblue;
}

.purple {
    background-color: #a10980;
}

.pink {
    background-color: #ec1668;
}

.orange {
    background-color: #ee8a06;
}

.blue {
    background-color: #0bc6df;
}

.grey {
    background-color: #70797a;
}

.lightpurple {
    background-color: #c2009e;
}

.lightyellow {
    background-color: #ccb90d;
}

.lightpink {
    background-color: #e61b91;
}

.red {
    background-color: #e60303;
}

.lighttpurple {
    background-color: #8d2297;
}

.green {
    background-color: #00ee34;
}

.bluee {
    background-color: #0669c5;
}

.empty {
    background-color: #588D9C;
}